.navbar{
    flex: 5;
   
}
.sub_navbar{
    display: flex;
    justify-content: space-between;
    width: 97%;
    height: 60px;
    margin-left: 2%;
    margin-top: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    background-color: white;
    border-radius: 10px;
}
.navb-icons{
  margin-left: 50px;
}
.c_txt{
    margin-right: 80px !important;
}